<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itheima.mapper.BrandMapper">

    <resultMap id="brandResultMap" type="brand">
        <result column="brand_name" property="brandName"/>
        <result column="company_name" property="companyName"/>
    </resultMap>

    <select id="selectBrand" resultMap="brandResultMap">
        select *
        from tb_brand;
    </select>


    <select id="selectByIdBrand" resultMap="brandResultMap">
        select *
        from tb_brand
        where id = #{id};
    </select>

    <!--
        <select id="selectByCondition" resultMap="brandResultMap">
            select *
            from mybatis.tb_brand
            where company_name like #{companyName}
              and status = #{status}
              and brand_name like #{brandName};
        </select>
    -->

    <select id="selectByCondition" resultMap="brandResultMap">
        select *
        from mybatis.tb_brand
        <where>
            <if test=" companyName != null and companyName != '' ">
                and company_name like #{companyName}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test=" brandName != null and brandName != '' ">
                and brand_name like #{brandName};
            </if>
        </where>
    </select>
    <!--    <select id="selectByConditionSingle" resultMap="brandResultMap">
            select *
            from tb_brand
            where
            <choose>
                <when test="status != null">
                    status = #{status};
                </when>
                <when test=" companyName != null and companyName != '' ">
                    company_name like #{companyName};
                </when>
                <when test=" brandName != null and brandName != '' ">
                    brand_name like #{brandName};
                </when>
                <otherwise>
                    1=1;
                </otherwise>
            </choose>

        </select>
    -->
    <select id="selectByConditionSingle" resultMap="brandResultMap">
        select *
        from tb_brand
        <where>
            <choose>
                <when test="status != null">
                    status = #{status};
                </when>
                <when test=" companyName != null and companyName != '' ">
                    company_name like #{companyName};
                </when>
                <when test=" brandName != null and brandName != '' ">
                    brand_name like #{brandName};
                </when>
            </choose>
        </where>

    </select>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into tb_brand (brand_name, company_name, ordered, description, status)
        values (#{brandName}, #{companyName}, #{ordered}, #{description}, #{status});
    </insert>

    <update id="update">
        update tb_brand
        <set>
            <if test=" companyName != null and companyName != '' ">
                company_name=#{companyName},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test=" brandName != null and brandName != '' ">
                brand_name=#{brandName},
            </if>
            <if test="ordered != null">
                ordered=#{ordered},
            </if>
            <if test=" description!=null and description!='' ">
                description=#{description},
            </if>
            <if test="status!=null">
                status=#{status}
            </if>
        </set>
        where
        id=#{id};
    </update>

    <delete id="deleteById">
        delete
        from tb_brand
        where id = #{id};
    </delete>

    <delete id="deleteByIds">
        <if test="ids!=null and ids.length > 0">
            delete from tb_brand
            where id in
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
            ;
        </if>
        select * from tb_brand where 1!=-1;
    </delete>

</mapper>